/* login-desktop */
/* body {
  position: relative;
  height: 665px;

  background: linear-gradient(
    121.73deg,
    #426ab6 0.31%,
    rgba(121, 84, 182, 0.79) 49.59%,
    rgba(182, 66, 177, 0.78) 100.64%
  );
} */

.error-message {
  color: red;
  font-size: 8pt;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.error-hide {
  visibility: hidden;
  font-size: 8pt;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.name-label {
  position: absolute;
  width: 190px;
  height: 17px;
  left: calc(50% - 190px / 2 - 95px);
  top: calc(50% - 17px / 2 - 148.5px);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;

  color: #fdf8f8;
}

.name-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #fffbfb;
  position: absolute;
  width: 400px;
  height: 50px;
  left: calc(50% - 400px / 2 + 10px);
  top: calc(50% - 50px / 2 - 83px);
  background: rgba(64, 58, 58, 0.8);
  border: 1px solid rgba(255, 254, 254, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
}

.password-label {
  position: absolute;
  width: 147px;
  height: 19px;
  left: calc(50% - 147px / 2 - 116.5px);
  top: calc(50% - 19px / 2 - 33.5px);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #fff9f9;
}

.password-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #fffbfb;
  position: absolute;
  width: 400px;
  height: 50px;
  left: calc(50% - 400px / 2 + 10px);
  top: calc(50% - 50px / 2 + 26px);
  background: rgba(64, 58, 58, 0.8);
  border: 1px solid rgba(255, 254, 254, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
}
.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px / 2 + 13px);
  top: calc(50% - 50px / 2 + 119px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  background: #00d1b2;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #fefbfb;
  border-radius: 20px;
}
.login-card {
  position: absolute;
  width: 600px;
  height: 450px;
  left: calc(50% - 600px / 2 + 10px);
  top: calc(50% - 450px / 2 + 9px);
  background: #4a566e;
  backdrop-filter: blur(40px);
  border-radius: 15px;
}
